/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  font-family: "Spartan", sans-serif;
}

p {
  color: #a1a1a1;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0;
}

/* Header */

header {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 3rem auto;
  grid-template-columns: repeat(2, auto);
  gap: 3rem;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 3rem;
  left: 3rem;
}

.hamburger {
  display: none;
}

.responsive {
  background-color: white;
  width: 100%;
  top: 0;
  padding: 2.6rem 1rem;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
}

.responsive .hamburger {
  left: 2rem;
}

.responsive .hamburger img {
  content: url("images/icon-close.svg");
}

.responsive .navigation {
  display: -ms-grid;
  display: grid;
  color: black;
  -ms-grid-columns: auto 1rem auto 1rem auto 1rem auto;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.responsive .navigation p {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
}

.logo {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 2rem auto 2rem auto 2rem auto;
  grid-template-columns: repeat(4, auto);
  gap: 2rem;
  height: 26px;
}

.navigation p {
  color: white;
}

.navigation a {
  text-decoration: none;
}

.navigation a:hover {
  border-bottom: 2px solid white;
}

/* Body */

body {
  position: relative;
  height: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

/* Section Slideshow */

.slideshow {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.615fr 0.385fr;
  grid-template-columns: 0.615fr 0.385fr;
  overflow: hidden;
}

.image-holder {
  overflow: hidden;
}

.image-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.buttons {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  bottom: 0;
  left: 0;
}

.buttons button {
  background-color: black;
  padding: 2rem;
  border: none;
  cursor: pointer;
}

.buttons button:hover {
  background-color: hsl(0, 0%, 27%);
}

.buttons button img {
  padding: 0 8px;
}

.description {
  padding: 15%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  gap: 2rem;
  position: relative;
}

.description h1 {
  font-size: 2.5rem;
}

.shop {
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
  color: #454545;
}

.shop-button {
  text-decoration: none;
}

.shop-button:hover .shop:after,
.shop-button:hover .shop {
  opacity: 0.7;
}

.shop::after {
  content: url("images/icon-arrow.svg");
  margin-left: 2rem;
}

/* Section About */

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr 1fr;
  grid-template-columns: 1fr 1.5fr 1fr;
}

.text {
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.text h4 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.image-1 img,
.image-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}
.attribution a {
  color: hsl(115, 38%, 46%);
  text-decoration: none;
}

/* Media Queries */

@media only screen and (max-width: 1600px) {
  .description h1 {
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1390px) {
  .description {
    padding: 10%;
  }
}

@media only screen and (max-width: 1170px) {
  html,
  body {
    height: unset;
  }

  body {
    -ms-grid-rows: unset;
    grid-template-rows: unset;
  }

  .slideshow {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 400px auto;
    grid-template-rows: 400px auto;
    overflow: unset;
  }

  .slideshow > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .slideshow > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .description {
    padding: 4rem 2rem;
  }

  .description h1 {
    font-size: 1.6rem;
  }

  .shop {
    font-size: 0.8rem;
  }

  .buttons {
    top: 0;
    bottom: unset;
    right: 0;
    left: unset;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .buttons button {
    padding: 1rem;
  }

  .buttons button img {
    height: 70%;
  }

  .about {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 750px) {
  header {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 500px) {
  p {
    font-size: 0.7rem;
    line-height: 1.3rem;
  }

  .hamburger {
    position: absolute;
    display: block;
    left: 2rem;
  }

  .navigation {
    display: none;
  }

  .shop::after {
    margin-left: 1rem;
  }

  .text {
    padding: 3rem 2rem;
  }

  .text h4 {
    font-size: 0.8rem;
    letter-spacing: 3px;
  }
}
